<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>





  <div class="dashboard__container">
    <div class="dashboard__box">

      <div class="dashboard__left">
        <div class="dashboard__title">
          <img src="images/google.svg" alt="">
          <h6>Dashboard</h6>
        </div>

        <div class="add__btn">
          <img src="images/plus.svg" alt="">
          <p>Ajouter une annonce</p>
        </div>

        <div class="menu__list active_menu">
          <img src="images/list.svg" alt="">
          <p>Mes annonces</p>
        </div>
        <div class="menu__list">
          <img src="images/list.svg" alt="">
          <p>Autre menu</p>
        </div>
        <div class="menu__list">
          <img src="images/list.svg" alt="">
          <p>Autre menu</p>
        </div>





      </div>
      <div class="dashboard__middle">

        <div class="dashboard__search-bar">
          <img src="images/loupe.svg" alt="">
          <input type="text" placeholder="Search">
        </div>


        <div class="middle__header">
          <h5>Ttes mes annonces</h5>
          <div class="middle__header__filter">
            <img src="images/filter-results-button.svg" alt="">
            <p>Filtrer</p>
          </div>
        </div>


        <div class="card__container">

          <div class="card_final activ_card">
            <img
              src="https://images.unsplash.com/photo-1547656807-9733c2b738c2?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80"
              alt="">
            <div class="card_final__content">
              <div class="card_final__content__top">
                  <div class="top__title">
                    <div class="top__title__left">
                      <h6>Cadaujac</h6>
                      <span></span>
                      <p>1171 Rue du port de Grima</p>

                    </div>

                   <img src="images/more.svg" alt="">
                  </div>
                  <div class="bottom__title">
                    <p>Maison : 50m2 </p>
                    <p>•</p>

                    <p> Jardin : 23m2</p>
                  </div>




              </div>
              <div class="card_final__content__bottom">

                <div class="price__content">

                  <div class="price_area">
                    <h3 class="main_price">546 euros</h3>
                    <p>Loyer</p>
                  </div>
                  <div class="price_area">
                    <h3 class="charge_price">89 euros</h3>
                    <p>Charges</p>
                  </div>



                </div>

                <p class="ola">Ajouter tel jour</p>
              </div>

            </div>


          </div>



        </div>

      </div>
      <div class="dashboard__right"></div>

    </div>





  </div>






</body>

</html>
