<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>F&B</title>
  <link rel="icon" href="images/house.svg">
  <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Mountains+of+Christmas:wght@400;700&display=swap"
    rel="stylesheet">

</head>
<body>

  <div class="door__container">
    <img class="landing_image" src="images/ciellanding.png" alt="">

    <div class="door__component">
      <form id="codeform" >
      <input type="text" id="code" placeholder="Votre code d'accès" autocomplete='off'>
      <input type="submit" id="submitbtn" value="Envoyer">
      <p id="errormessage" ><%= typeof errormessage != 'undefined' ? errormessage : ""  %> </p>
      </form>
    </div>

  </div>


  <script>
    const code = document.querySelector('#code');
    const errormessage = document.querySelector('#errormessage');
    const submitbtn = document.querySelector('#submitbtn');
    const landingImage = document.querySelector('.landing_image')
    const formDis = document.querySelector('#codeform')

    code.addEventListener('keydown', () => {

      errormessage.innerText = "";

    })
    code.addEventListener('click', () => {

        errormessage.innerText = "";

      })



    submitbtn.addEventListener('click', async (event) => {
event.preventDefault();
      const codeValue = code.value
      console.log(codeValue)
      code.value = "";

      const reponse = await fetch(`/check`, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ annonceId: codeValue })
      })
      const response = await reponse.json();

      console.log(response.message)

      if (response.status === 'fail') {
        errormessage.innerText = "Votre code d'accès n'est pas valide."
      } else if (response.message == "go admin") {
        formDis.classList.add('active_forme');
        landingImage.classList.add('active_landing_image');
        setTimeout(() => {
          window.location.href = `/frebite1234`
        }, 1200);


      } else if (response.message == "go test") {
        formDis.classList.add('active_forme');
        landingImage.classList.add('active_landing_image');
        setTimeout(() => {
          window.location.href = `/bonjour`
        }, 1200);
      }

      else {
        formDis.classList.add('active_forme');
        landingImage.classList.add('active_landing_image');
        setTimeout(() => {
          window.location.href = `/?page=${codeValue}`
        }, 1200);

      }



    })

  </script>


</body>
</html>
