<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F&B Home</title>
    <link rel="icon" href="images/house.svg">
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap"
          rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap"
            rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Mountains+of+Christmas:wght@400;700&display=swap"
            rel="stylesheet">

</head>

<body style="background-color: black;">
<div class="loading__backgound">

</div>



<div class="last__container__index">
    <div class="paralax__container">
        <img id="ciel" src="images/ciel2.png" alt="">
        <img id="potos" src="images/potos.png" alt="">
        <img id="perso" src="images/perso3.png" alt="">
        <div class=" mobile-title-top hide-on-desktop">

            <div class="title-mobile">
                <div id="text1-mobile">Bienvenue !</div>
                <div id="text2-mobile">Nous sommes <mark>Barbara & Frédéric</mark> <br /> et voici notre page de présentation.</div>
            </div>

        </div>

    </div>

    <div class="center__title hide-on-mobile">
        <div class="center__title__relative">
            <div class="center__title__absolute">
                <div id="text1">Bienvenue !</div>
                <div id="text2">Nous sommes <mark>Barbara & Frédéric</mark> <br /> et voici notre page de présentation.</div>
            </div>
        </div>
    </div>
</div>


<div class="nous-desktop-section hide-on-mobile">
    <div class="nous-title-mobile-first">Nous</div>

    <div class="nous-pres-desktop">
        <p>Trentenaires actuellement en appartement à Rennes, la vie en ville nous pèse. C’est pourquoi nous souhaiterions partir vivre à la campagne et ainsi profiter pleinement d’un terrain et d’un peu plus d’espace.</p>
    </div>
</div>


<div class="nous_photos hide-on-mobile">

    <div class="photo_line">
        <div class="carre">
            <img src="images/nous6.jpeg" alt="">
        </div>
        <div class="carre">
            <img src="images/nous7.jpeg" alt="">
        </div>
        <div class="carre">
            <img src="images/barb2.jpg" alt="">
        </div>

    </div>
    <div class="photo_line">
        <div class="carre">
            <img src="images/nous2.jpeg" alt="">
        </div>
        <div class="carre">
            <img style="object-position: top;" src="images/nous1.jpeg" alt="">
        </div>
        <div class="carre">
            <img src="images/nous-last.jpeg" alt="">
        </div>

    </div>
    <div class="photo_line">
        <div class="carre">
            <img src="images/fred1.jpeg" alt="">
        </div>
        <div class="carre">
            <img src="images/nous4.jpeg" alt="">
        </div>
        <div class="carre">
            <img src="images/barb1.jpeg" alt="">
        </div>

    </div>



</div>


<div class="nous-mobile-section hide-on-desktop">
    <div class="nous-title-mobile-first">Nous</div>

    <div class="nous-pres-mobile">
        <p>Trentenaires actuellement en appartement à Rennes, la vie en ville nous pèse. C’est pourquoi nous souhaiterions partir vivre à la campagne et ainsi profiter pleinement d’un terrain et d’un peu plus d’espace.</p>
    </div>
</div>

<div class="nous_photos-mobile  hide-on-desktop">


    <div class="photo_line-mobile">
        <div class="carre-mobile">
            <img src="images/nous6.jpeg" alt="">
        </div>
        <div class="carre-mobile">
            <img src="images/nous7.jpeg" alt="">
        </div>
        <div class="carre-mobile">
            <img src="images/barb2.jpg" alt="">
        </div>

    </div>
    <div class="photo_line-mobile">
        <div class="carre-mobile">
            <img src="images/nous2.jpeg" alt="">
        </div>
        <div class="carre-mobile">
            <img style="object-position: top;" src="images/nous1.jpeg" alt="">
        </div>
        <div class="carre-mobile">
            <img src="images/nous-last.jpeg" alt="">
        </div>

    </div>
    <div class="photo_line-mobile">
        <div class="carre-mobile">
            <img src="images/fred1.jpeg" alt="">
        </div>
        <div class="carre-mobile">
            <img src="images/nous4.jpeg" alt="">
        </div>
        <div class="carre-mobile">
            <img src="images/barb1.jpeg" alt="">
        </div>

    </div>



</div>



<div class="nous-mobile hide-on-desktop">

    <div class="fred-barb-mobile">
        <div class="nous-title-mobile">Barbara Allard</div>
        <img id="barbara_mobile" src="images/barb_profile.jpeg" alt="">
        <div class="nous-text-mobile">
            <p> En CDI depuis aout 2020, j’ai la chance de partager ma passion pour la couture avec les clients de chez Ecolaines, en tant que vendeuse de tissus. En parallèle, j’ai débuté une formation en somatopathie. Ancienne animatrice nature, passer du temps au jardin serait un vrai bonheur !</p>
        </div>

    </div>
    <div class="fred-barb-mobile">

        <div class="nous-title-mobile">Frédéric Legrand </div>

        <img id="fred_mobile" src="images/fred_profile.jpeg" alt="">
        <div class="nous-text-mobile">
            <p>Suite à une reconversion professionnelle, à mon compte depuis plus d’un an en tant que programmeur informatique. Notre petit appartement n’est plus adapté à ma profession, j’ai aujourd’hui besoin d’un vrai bureau pour travailler efficacement. Un terrain serait un plus pour se détendre.</p>
        </div>

    </div>

</div>



<div class="background_white hide-on-mobile">




    <div class="barbara__container">
        <div id="barb_title">Barbara Allard</div>


        <div class="barbara__content">
            <div class="barbara__text">
                <p> En CDI depuis aout 2020, j’ai la chance de partager ma passion pour la couture avec les clients de chez Ecolaines, en tant que vendeuse de tissus. En parallèle, j’ai débuté une formation en somatopathie. Ancienne animatrice nature, passer du temps au jardin serait un vrai bonheur !</p>
            </div>
            <div class="barb_pic_box">
                <img id="barbara_anchor" src="images/barb_profile.jpeg" alt="">
            </div>
        </div>
    </div>


    <div class="fred__container">
        <div id="fred_title">Frédéric Legrand</div>
        <div class="fred__content">
            <div class="fred_pic_box">
                <img id="fred_anchor" src="images/fred_profile.jpeg" alt="">
            </div>
            <div class="fred__text">
                <p>Suite à une reconversion professionnelle, à mon compte depuis plus d’un an en tant que programmeur informatique. Notre petit appartement n’est plus adapté à ma profession, j’ai aujourd’hui besoin d’un vrai bureau pour travailler efficacement. Un terrain serait un plus pour se détendre.</p>
            </div>
        </div>

            <img class="test-share" src="images/share.svg" alt="">

    </div>

</div>





<div class="file__container">
    <h3>Notre dossier locatif</h3>
    <a href="#">
        <div class="download_btn">
            <img src="images/pdf.svg" alt="">
            <p>Télécharger</p>
        </div>
    </a>
</div>



<div class="bravo hide-on-mobile">
    <p>Merci de votre visite et à bientôt ! </p>
    <img src="images/bravo.svg" alt="">
</div>
<div class="bravo-mobile hide-on-desktop">
    <p>Merci de votre visite et à bientôt ! </p>
    <img src="images/bravo.svg" alt="">
</div>




</body>

<script>








</script>


<script>

    const bouton = document.querySelector('.test-share');
    const fredBouton = document.querySelector('#fred_mobile');

    fredBouton.addEventListener('click', async () => {
        console.log("click ok")

        const response = await fetch('/testdl');
        const responseBlobified = await response.blob();




        if (navigator.share === undefined) {
            alert('la methode share ne marche pas')

        } else {
            const file = new File([responseBlobified], 'test.pdf', { lastModified: new Date().getTime(), type: theBlob.type })
            await window.navigator.share({files: [file]}); // Will trigger the native "share" feature

        }


    })


    bouton.addEventListener('click', async () => {
        console.log("click ok")

       const response = await fetch('/testdl');
        const responseBlobified = await response.blob();


        console.log(file)


    })







    // Page load animation


    const potos = document.querySelector('#potos');
    const gens = document.querySelector('#perso');
    const ciel = document.querySelector('#ciel');

    const text2 = document.querySelector('#text2');
    const text1 = document.querySelector('#text1');


    //barb

    const barbTitle = document.querySelector('#barb_title');
    const barbContainer = document.querySelector('.barbara__container');

    const fredTitle = document.querySelector('#fred_title')
    const fredContainer = document.querySelector('.fred__container')


    window.addEventListener('DOMContentLoaded', function (event) {
        const blackScreen = document.querySelector('.loading__backgound');
        blackScreen.classList.add('desaper');
        text1.classList.add('movedtext1')
        gens.classList.add('mobingperso');


        setTimeout(() => {
            blackScreen.style.display = "none";

        }, 3500);
        setTimeout(() => {
            text2.classList.add('movedtext2')


        }, 2000);





    })


    // Scroll event !



    window.addEventListener('scroll', function (event) {
        let scrollPositionY = window.scrollY;
        console.log(scrollPositionY);
        potos.style.top = scrollPositionY * 0.10 + 'px';
        ciel.style.top = scrollPositionY * 0.30 + 'px';
    })




    //animation sur scroll



    // get the element to animate
    const barbTitleHeight = barbTitle.clientHeight;
    const barbContainerHeight = barbContainer.clientHeight

    const nousPhotos = document.querySelector('.nous_photos');
    const nousPhotosHeight = nousPhotos.clientHeight;
    const allPictures = document.querySelectorAll('.carre');

    const fredTitleHeight = fredTitle.clientHeight
    const fredContainerHeight = fredContainer.clientHeight


    // listen for scroll event and call animate function
    document.addEventListener('scroll', inView);

    // check if element is in view
    function inView() {
        // get window height
        var windowHeight = window.innerHeight;
        // get number of pixels that the document is scrolled
        var scrollY = window.scrollY || window.pageYOffset;

        // get current scroll position (distance from the top of the page to the bottom of the current viewport)
        var scrollPosition = scrollY + windowHeight;
        // get element position (distance from the top of the page to the bottom of the element)

        //barb
        var barbContainerPosition = barbContainer.getBoundingClientRect().top + scrollY + barbTitleHeight;
        // nous photo
        const nousPhotosPosition = nousPhotos.getBoundingClientRect().top + scrollY

        //fred
        const fredContainerPosition = fredContainer.getBoundingClientRect().top + scrollY + fredTitleHeight;

        // EVENEMENTS
        //barb
        if (scrollPosition > barbContainerPosition) {
            barbContainer.classList.add('active_barbara_container');
        } else {
            barbContainer.classList.remove('active_barbara_container')
        }

        //nous
        if (scrollPosition > nousPhotosPosition) {
            nousPhotos.classList.add('active_nous_photos');
            allPictures.forEach( image => {
                image.classList.add('active__care');
            })
        } else {
            nousPhotos.classList.remove('active_nous_photos')
            allPictures.forEach( image => {
                image.classList.remove('active__care');
            })

        }

        //fred
        if (scrollPosition > fredContainerPosition) {
            fredContainer.classList.add('active_fred_container');
        } else {
            fredContainer.classList.remove('active_fred_container')
        }




    }

    // animate element when it is in view
    function animate() {
        // is element in view?
        if (inView()) {
            // element is in view, add class to element
            barbContainer.classList.add('active_barbara_container');
        } else {
            barbContainer.classList.remove('active_barbara_container')
        }
    }







</script>


</html>
